.my-live {
  * {
    z-index: 10000000;
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
  }

  .chatter_msg_item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
  }

  .chatter_msg_item_admin {
    align-self: flex-start;
    background-color: #d1e7dd;
  }

  .chatter_msg_item_user {
    align-self: flex-end;
    background-color: #f8d7da;
  }

  .chatter_avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px black solid;
  }

  .message-content {
    display: flex;
    flex-direction: column;
  }

  .chatter_name {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
