.my-live {
  * {
    z-index: 1000;
  }

  h4,
  h5 {
    line-height: 1.5em;
    margin: 0;
  }

  hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
  }

  img {
    border: 0;
    display: block;
    height: auto;
    width: 100%;
  }

  input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
  }

  p {
    margin: 0;
  }

  /* ---------- LIVE-CHAT ---------- */

  #live-chat {
    bottom: 0;
    font-size: 12px;
    right: 24px;
    position: fixed;
    width: 300px;
  }

  #live-chat header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
  }

  #live-chat h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
  }

  #live-chat h4 {
    font-size: 12px;
  }

  #live-chat h5 {
    font-size: 10px;
  }

  #live-chat form {
    padding: 24px;
  }

  #live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 234px;
  }

  .chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
  }

  .chat {
    background: #fff;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    overflow-y: auto;
    transition: all 1s;
    height: 300px; /* Set a fixed height for the scroll to work */
    border: 1px solid #ccc; /* Optional: to visually see the container */
  }
  .chatter_msg_item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
  }

  .chatter_msg_item_admin {
    align-self: flex-start;
    background-color: #bce4d2;
  }

  .chatter_msg_item_user {
    align-self: flex-end;
    background-color: rgb(191, 191, 228);
  }

  .chatter_avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px black solid;
  }

  .message-content {
    display: flex;
    flex-direction: column;
  }

  .chatter_name {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
  }
}
