.my-filters {
  .section {
    padding: 0;
    color: #333;
  }
  .section .top-side {
    text-align: center;
  }
  .section .top-side .title {
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
  }
  .section .top-side .title:after {
    content: "";
    display: block;
    width: 50%;
    border-bottom: 1px solid #494949;
    margin: 8px auto;
  }
  .section .top-side h2 {
    font-weight: 700;
  }
  .section.portfolio .filters {
    text-align: center;
    margin-top: 50px;
  }
  .section.portfolio .filters ul {
    padding: 0;
  }
  .section.portfolio .filters ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
    cursor: pointer;
    position: relative;
  }
  .section.portfolio .filters ul li:after {
    content: "";
    display: block;
    width: calc(0% - 60px);
    position: absolute;
    height: 2px;
    background: #333;
    transition: width 350ms ease-out;
  }
  .section.portfolio .filters ul li:hover:after {
    width: calc(100% - 60px);
    transition: width 350ms ease-out;
  }
  .section.portfolio .filters ul li.active:after {
    width: calc(100% - 60px);
  }
  .section.portfolio .filters-content {
    margin-top: 50px;
  }
  .section.portfolio .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms;
  }
  .section.portfolio .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
  }
  .section.portfolio .filters-content .item {
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .section.portfolio .filters-content .item .p-inner {
    padding: 20px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .section.portfolio .filters-content .item .p-inner h5 {
    font-size: 15px;
  }
  .section.portfolio .filters-content .item .p-inner .cat {
    font-size: 13px;
  }
  .section.portfolio .filters-content .item img {
    width: 100%;
  }
}
