.Nav-Header {
  header {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    color: white;
  }
  header .logo {
    font-weight: bold;
  }
  header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
  }

  .my-search {
    .searchbox {
      width: 30px; /* Adjust width as needed */
      height: 30px; /* Adjust height as needed */
      font-size: 16px; /* Adjust font size as needed */
      float: right;
      border: 2px #ccc solid;
      border-radius: 50%;
      background: white; /* Set background to transparent */
      background-image: url("https://www.pinclipart.com/picdir/big/485-4851736_free-png-search-icon-search-icon-free-download.png");
      background-size: 20px; /* Adjust icon size as needed */
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
      position: relative;
    }

    .searchbox:hover {
      cursor: pointer;
      box-shadow: 0 0 5px 0 #7f7f7f; /* Adjust shadow as needed */
    }

    .searchbox:focus {
      cursor: text;
      width: 120px; /* Adjust width as needed */
      border-radius: 15px; /* Adjust border-radius as needed */
      outline: none;
      text-indent: 10px; /* Adjust text indent as needed */
      background-position-x: 97%;
      box-shadow: 0 0 5px 0 #7f7f7f; /* Adjust shadow as needed */
    }

    .searchbox:focus::after {
      content: "";
      position: absolute;
      width: 2px; /* Adjust border thickness as needed */
      height: 100%;
      background-color: #ccc;
      top: 0;
      left: 0;
      animation: search-animation 1s infinite alternate;
    }
  }
}

@keyframes search-animation {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.5);
  }
}
