$orange: #ff4500;
$black: #130f40;
$white: #fff;
$light-color: #666;
$light-bg: #f7f7f7;
$border: 1px solid rgba(0, 0, 0, 0.2);
$box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05);

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;

  .content {
    flex: 1 1 41rem;
    span {
      font-size: 32px;
      color: $orange;
    }

    h3 {
      font-size: 64px;
      color: $black;
      padding-top: 16px;
    }

    p {
      font-size: 22.4px;
      color: $light-color;
      line-height: 2;
      padding: 16px 0;
    }
  }

  .image {
    flex: 1 1 41rem;
    margin: 32px 0;
    pointer-events: none;

    .home-img {
      width: 100%;
      margin-top: 80px;
    }
  }

  .home-parallax-img {
    position: absolute;
    top: -70px;
    right: -160px;
    width: 80vw;
  }
}

@media (min-width: 1200px) {
  .home {
    .content {
      span {
        font-size: 28px;
      }
      h3 {
        font-size: 56px;
      }
      p {
        font-size: 20px;
      }
    }

    .image {
      .home-img {
        margin-top: 64px;
        transform: scale(0.8);
      }
    }

    .home-parallax-img {
      top: -50px;
      right: -80px;
      width: 70vw;
    }
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .home {
    flex-direction: column;
    .content {
      flex: 1 1 auto;
      span {
        font-size: 24px;
      }
      h3 {
        font-size: 48px;
      }
      p {
        font-size: 18px;
      }
    }

    .image {
      flex: 1 1 auto;
      .home-img {
        margin-top: 48px;
        width: 70vw;
      }
    }

    .home-parallax-img {
      top: 150px;
      right: 15px;
      width: 120vw;
    }
  }
}


@media (max-width: 992px) {
  .home {
    flex-direction: column;
    .content {
      flex: 1 1 auto;
      span {
        font-size: 24px;
      }
      h3 {
        font-size: 48px;
      }
      p {
        font-size: 18px;
      }
    }

    .image {
      flex: 1 1 auto;
      .home-img {
        margin-top: 48px;
        width: 70vw;
      }
    }

    .home-parallax-img {
      top: 150px;
      right: 15px;
      width: 120vw;
    }
  }
}

@media (max-width: 768px) {
  .home {
    .content {
      span {
        font-size: 20px;
      }
      h3 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
      }
    }

    .image {
      display: none;
    }

    // .home-parallax-img {
    //   top: -100px;
    //   right: -100px;
    //   width: 50vw;
    // }
  }
}

@media (max-width: 576px) {
  .home {
    .content {
      span {
        font-size: 18px;
      }
      h3 {
        font-size: 32px;
      }
      p {
        font-size: 14px;
      }
    }

    .image {
      display: none;
    }

    // .home-parallax-img {
    //   top: -80px;
    //   right: -80px;
    //   width: 40vw;
    // }
  }
}
