$green: #27ae60;
$black: #130f40;
$white: #fff;
$light-color: #666;
$light-bg: #f7f7f7;
$border: 1px solid rgba(0, 0, 0, 0.2);
$box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1rem;
}

.res-blogs {
  .box-container {
    @include grid(25rem);

    .box {
      border-radius: 0.5rem;
      overflow: hidden;

      // &:hover {
      //   .image {
      //     h3 {
      //       left: 1.5rem;
      //     }

      //     img {
      //       transform: scale(1.1);
      //     }
      //   }
      // }

      .image {
        position: relative;
        height: 20rem;
        overflow: hidden;
        width: 100%;

        h3 {
          position: absolute;
          z-index: 10;
          // top: 1rem;
          top: 2rem;
          left: -100%;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          background: $white;
          color: $black;
          font-size: 1.5rem;
          // edited here
          left: 1rem;
          i {
            padding-right: 0.5rem;
            color: $green;
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .content {
        padding: 2rem 1.5rem;
        background: $light-bg;
        .btn {
          display: inline-block;
          margin-top: 1rem;
          padding: 0.7rem 1.8rem;
          font-size: 1.7rem;
          cursor: pointer;
          color: $white;
          background: $green;
          border-radius: 0.5rem;

          &:hover {
            background: $black;
          }
        }
        .tags {
          padding-bottom: 1rem;

          a {
            font-size: 1.5rem;
            color: $light-color;
            padding-right: 0.5rem;
            text-decoration: none;

            &:hover {
              color: $green;
            }
          }
        }

        h3 {
          font-size: 2rem;
          color: $black;
        }

        p {
          font-size: 1.4rem;
          color: $light-color;
          padding: 1rem 0;
          line-height: 2;
        }
      }
    }
  }
}
