$sans-work-stack: "Work Sans", sans-serif;
$purple: #ac40c7;
$off-white: #f5f2f2;
$yellow-orange: #eb9834;
$md-screen-size: 600px;
.res-title {
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  line-height: 5rem;
  margin: 1rem;
  text-align: center;
}
.res-card {
  abbr {
    text-decoration: none;
  }

  .button {
    background-color: white;
    border-radius: 5rem;
    border-style: solid;
    border-width: 0.2rem;
    color: $purple;
    font-family: $sans-work-stack;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 250ms ease;

    &:hover {
      background-color: $purple;
      color: white;
      transform: scale(1.05);
    }
  }

  .card {
    border-radius: 2%;
    box-shadow: 0rem 0rem 1rem 1rem $off-white;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 4rem;
    margin: 5%;
    max-width: 90%;

    &__address {
      font-family: $sans-work-stack;
      font-weight: 500;
      font-size: 1.5rem;
      margin: 0.5rem 0;
      letter-spacing: 0.0625rem;

      @media (min-width: $md-screen-size) {
        font-size: 1.7rem;
      }
    }

    &__address--city {
      margin-bottom: 1.3rem;
    }

    &__img {
      margin-bottom: 2rem;
      order: -1;
      width: 100%;
    }

    &__info {
      margin-bottom: 1.5rem;
    }

    &__rating {
      color: $yellow-orange;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &__title {
      font-family: $sans-work-stack;
      font-weight: 700;
      font-size: 3rem;
      margin-bottom: 0.6rem;

      @media (min-width: $md-screen-size) {
        font-size: 3rem;
      }
    }
  }
}
