.main-profile {
  margin-top: 20vh;

  .bg-cover {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.2);
    z-index: -1;
  }

  .container {
    // transform: scale(1.2);
    width: 400px;
    height: 500px;
    background-color: #f9690e;
    margin: 50px auto;
    border-radius: 12px;
    overflow: hidden;
  }

  div.middle {
    position: relative;
    text-align: center;
    top: 70px;
  }

  img.user-pic {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.7);
    border: 5px solid rgba(255, 255, 255, 1);
    object-fit: cover;
  }

  h4.name {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }

  h4.work {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    padding-top: 0px;
  }

  div.footer {
    position: relative;
    background: rgba(255, 255, 255, 1);
    top: 110px;
    height: 180px;
    text-align: center;
  }

  .btn-follow {
    position: relative;
    padding: 15px 70px;
    top: -22px;
    background: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f9690e;
    box-shadow: 0px 5px 45px rgba(249, 105, 14, 0.4);
    border: 1px solid transparent;
    transition: all 0.5s ease-in;
  }

  .btn-follow:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #f9690e;
    color: rgba(255, 255, 255, 1);
  }

  .fa-lock {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
    padding-top: 15px;
  }

  .profile-status {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
    padding-top: 7px;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes bars {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  @keyframes img3d {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(55deg);
    }
  }
}
