.my-card-styels {
  font-family: "roboto", sans-serif;
  // background-color: green;
  width: fit-content;
  margin: auto;
  .edit-container {
    // background-color: red;
    max-width: 350px;
  }
  .main-content {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06) !important;
  }

  .food-card {
    transition: 0.1s;

    &:hover {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    }

    .food-card_img {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border: none;
      }

      i {
        position: absolute;
        top: 20px;
        right: 30px;
        color: #fff;
        font-size: 25px;
        transition: all 0.1s;

        &:hover {
          top: 18px;
          right: 28px;
          font-size: 29px;
        }
      }
    }

    .food-card_content {
      padding: 15px;

      .food-card_title-section {
        height: 100px;

        .food-card_title {
          margin-bottom: 8px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .food-card_author {
          font-size: 15px;
          display: block;
        }
      }

      .food-card_bottom-section {
        .food-card_price {
          font-size: 28px;
          font-weight: 500;
          color: #f47a00;
        }

        .food-card_order-count {
          width: 130px;

          input {
            background: #f5f5f5;
            border-color: #f5f5f5;
            box-shadow: none;
            text-align: center;
          }

          button {
            border-color: #f5f5f5;
            border-width: 3px;
            box-shadow: none;
          }
        }
      }
    }
  }

  .rating-box {
    display: flex;
    align-items: center;
  }

  .rating-stars {
    width: 70px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #eee;
    }

    .filled-star {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #f47a00;
    }

    img {
      height: 100%;
      width: 100%;
      display: block;
      position: relative;
      z-index: 1;
    }
  }

  .myZoom {
    margin-top: -120px;
    margin-left: 110px;
    zoom: 0.8;
    position: relative;
    // background-color: red;
  }
  .myFont {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 260px;
    position: absolute;
  }
  .my-res-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 95px;
    position: absolute;
  }
  .card-heart {
  }
}
