.my-card-styels {
  font-family: "roboto", sans-serif;
  // background-color: green;
  width: fit-content;
  margin: auto;

  .edit-container {
    // background-color: red;
    max-width: 350px;
  }
  .main-content {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .shadow {
    box-shadow: 20 2px 10px rgba(0, 0, 0, 0.06) !important;
  }

  .food-card {
    transition: 0.1s;

    &:hover {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    }

    .food-card_img {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border: none;
      }

      i {
        position: absolute;
        top: 20px;
        // right: 30px; // The heart on the right
        right: 270px; //  The heart on the left
        color: #fff;
        font-size: 25px;
        transition: all 0.1s;

        &:hover {
          top: 18px;
          // right: 28px; The heart on the right hover
          right: 268px; //The heart on the left hover
          font-size: 29px;
        }
      }
    }

    .food-card_content {
      padding: 15px;

      .food-card_title-section {
        height: 100px;

        .food-card_author {
          font-size: 15px;
          display: block;
        }
      }
    }
  }

  .myZoom {
    // margin-top: -100px;
    // margin-left: 80px;
    margin-top: -90px;
    margin-left: 80px;
    // zoom: 0.8;
    transform: scale(0.8);
    position: relative;
    // background-color: red;
  }
  .myFont {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    // margin-left: 263px;
    margin-left: 250px;
    position: absolute;
  }
  .my-res-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 95px;
    position: absolute;
  }
  // @media screen and (max-width: 768px) {
  // }
}
