.Circle-Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 40%;
  height: 50vh;
  // transform: scale(1.1);
  overflow: hidden;

  .stopp1 {
    stop-color: #f700a8;
  }
  
  .stopp2 {
    stop-color: #ff8000;
  }

  .halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 15;
    stroke-linecap: round;
    width: 100%;
  }

  .strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 15;
    stroke-linecap: round;
  }

  @keyframes Snurra1 {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -403px;
    }
  }
}
