.Circle-Loader {
transform: scale(0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  .stopp1 {
    stop-color: #f700a8;
  }

  .stopp2 {
    stop-color: #ff8000;
  }

  .halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 15;
    stroke-linecap: round;
  }

  .strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 15;
    stroke-linecap: round;
  }

  @keyframes Snurra1 {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -403px;
    }
  }
}
