@use "sass:math";

.Cooking-Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbf4ee;
  height: 100vh;
  transform: scale(1.5);
  z-index: 999999;
  
  $bg-bubble: linear-gradient(
    173deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(214, 108, 219, 1) 39%,
    rgba(171, 94, 220, 1) 85%,
    rgba(155, 89, 220, 1) 100%
  );
  $bubble-timing: 2000ms;
  $nb-bubble: 6;
  $bubble-delay: math.div($bubble-timing , $nb-bubble);

  $cook-timing: 1500ms;
  $nb-food: 3;
  $cook-delay: math.div($cook-timing , $nb-food);

  @keyframes bubble {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    25% {
      transform: scale(0.5) translate(0, 1);
      opacity: 0.5;
    }
    50% {
      transform: scale(1) translate(0, -20px);
      opacity: 1;
    }
    75% {
      transform: scale(1) translate(0, -30px);
      opacity: 1;
    }
    100% {
      transform: scale(1) translate(0, -60px);
      opacity: 0;
    }
  }

  @keyframes stove {
    0% {
      transform: translate(0, 1);
    }
    10% {
      transform: translate(0, -10%) rotate(5deg);
    }
    20% {
      transform: translate(0, 10%) rotate(-10deg);
    }
    40% {
      transform: translate(0, -40%);
    }
    95% {
      transform: rotate(5deg);
    }
    100% {
      transform: translate(0, 1) rotate(0deg);
    }
  }

  @keyframes stove-handle {
    0% {
      transform: translate(0, 1);
    }
    10% {
      transform: translate(0, -10%) rotate(25deg);
    }
    20% {
      transform: translate(0, 10%) rotate(-10deg);
    }
    40% {
      transform: translate(0, -40%) rotate(10deg);
    }
    100% {
      transform: translate(0, 1);
    }
  }

  @keyframes food-2 {
    0% {
      transform: translate(0);
    }
    10% {
      transform: translate(55px, -1px);
    }
    20% {
      transform: translate(63px, -5px) rotate(0deg);
    }
    28% {
      transform: translate(70px, -50px);
    }
    35% {
      transform: translate(68px, -55px) rotate(180deg);
    }
    40% {
      transform: translate(60px, -60px);
    }
    45% {
      transform: translate(52px, -65px) rotate(360deg);
    }
    50% {
      transform: translate(42px, -69px);
    }
    55% {
      transform: translate(31px, -67px);
    }
    60% {
      transform: translate(22px, -64px) rotate(-180deg);
    }
    65% {
      transform: translate(15px, -60px);
    }
    70% {
      transform: translate(6px, -54px);
    }
    75% {
      transform: translate(-1px, -47px) rotate(-90deg);
    }
    80% {
      transform: translate(-7px, -36px);
    }
    85% {
      transform: translate(-9px, -24px) rotate(0deg);
    }
    90% {
      transform: translate(-7px, -8px) rotate(90deg);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .spinner-container {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    position: relative;
  }

  .stove {
    position: relative;
    &--handle {
      content: "";
      display: block;
      width: 80px;
      height: 8px;
      position: absolute;
      left: -74px;
      bottom: -65px;
      background-color: transparent;
      border-top: 5px solid #000;
      border-left: 3px solid transparent;
      border-radius: 100%;
      transform: rotate(15deg);
      transform-origin: right;
      animation: stove-handle $cook-timing 250ms infinite;
    }
    &--base {
      width: 100px;
      height: 23px;
      background-color: #000;
      border-radius: 0 0 40px 40px;
      position: absolute;
      top: 50px;
      transform-origin: left;
      animation: stove $cook-timing 250ms infinite;
    }
  }

  .bubble {
    position: absolute;
    border-radius: 50%;
    background: $bg-bubble;
    opacity: 1;
    animation: bubble $bubble-timing infinite ease-in;
    @for $i from 1 through $nb-bubble {
      &--#{$i} {
        animation-delay: $bubble-delay * ((0.5) * $i);
      }
    }
    &--1 {
      top: 32px;
      left: -25px;
      width: 15px;
      height: 15px;
    }
    &--2 {
      top: 30px;
      left: 10px;
      width: 8px;
      height: 8px;
    }
    &--3 {
      top: 3px;
      left: 2px;
      width: 10px;
      height: 10px;
    }
    &--4 {
      top: -15px;
      right: 8px;
      width: 8px;
      height: 8px;
    }
    &--5 {
      top: 5px;
      left: -41px;
      width: 10px;
      height: 10px;
    }
    &--6 {
      top: 55px;
      left: -43px;
      width: 8px;
      height: 8px;
    }
  }

  .aliment {
    left: 13px;
    bottom: -64px;
    width: 10px;
    height: 10px;
    position: absolute;
    animation: food-2 $cook-timing infinite ease-in;
    @for $i from 1 through 3 {
      &--#{$i} {
        animation-delay: $cook-delay * ((0.5) * $i);
      }
    }
  }

  .aliment--1 {
    background-color: darken(#99e2d0, 30%);
  }

  .aliment--2 {
    background-color: darken(#99e2d0, 20%);
  }

  .aliment--3 {
    background-color: darken(#99e2d0, 40%);
  }
}
