// $orange: #27ae60;
$orange: #ff4500;
$black: hsl(245, 62%, 15%);
// $white: #fff;
$white: #ffffff;
$light-color: #666;
$light-bg: #f7f7f7;
$border: 0.1rem solid rgba(0, 0, 0, 0.2);
$box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: $white;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;

  .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: $black;

    i {
      padding-right: 0.5rem;
      color: $orange;
    }
  }

  .navbar {
    a {
      font-size: 1.7rem;
      margin: 0 1rem;
      color: $light-color;

      &:hover {
        color: $orange;
      }
    }
  }

  .icons a,
  .icons span a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: $light-bg;
    color: $black;
    border-radius: 0.5rem;
    margin-left: 0.3rem;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: $white;
      background: $orange;
    }
  }
}
