body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.form1 label,
.form1 input[type="text"],
.form1 input[type="password"],
.button {
    width: 100%;
    margin-bottom: 20px;
}

.form1 label {
    display: block;
    font-weight: bold;
    color: #555;
}

.form1 input[type="text"],
.form1 input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.forgot-password {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #555;
    text-decoration: none;
}

.forgot-password:hover {
    color: #333;
}