.test-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; 
 }
 
//  .test {
//    /* Add any additional styling for your test component if needed */
//  }
 