.scroll-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  button {
    padding-top: 0px;
    background-color: #e32207;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}
