.btns-time {
  .my-btn {
    background-color: #e32207 !important;
    color: white;
  }
  .my-btn:hover {
    background: #ccc !important;
  }

  .Reviews-Zoom {
    transform: scale(1);
    // position: relative;
  }
  .Emotions-Zoom {
    transform: scale(0.5);
    margin-left: -40%;
    // position: absolute;
  }
}
