.my-meal-card {
  .meal-card {
    cursor: pointer;
    margin-bottom: 30px;
    &:hover {
      background-color: #ccc;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border: none;
      outline: none;
    }
  }
}
