// $orange: #27ae60;
$orange: #ff4500;
$black: #130f40;
$white: #fff;
$light-color: #666;
$light-bg: #f7f7f7;
$border: 1px solid rgba(0, 0, 0, 0.2);
$box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

.category {
  @include grid(12rem);
  padding-bottom: 5rem;

  .box {
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    background: $light-bg;

    &:hover {
      background: $orange;

      h3 {
        color: $white;
      }
    }

    img {
      height: 7rem;
    }

    h3 {
      font-size: 1.8rem;
      color: $black;
    }
  }
}
