@import url(http://weloveiconfonts.com/api/?family=entypo);

.my-meal-card-box {
  .rating--box {
    letter-spacing: -0.31em;
  }

  .cover,
  .meta {
    display: inline-block;
    letter-spacing: 0;
    vertical-align: top;
  }

  /* entypo */
  [class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font: 1em/1.65 Arial, Helvetica, sans-serif;
    background: #333;
  }

  a {
    color: #5ca3e6;
  }
  a:hover {
    color: #97c0e6;
  }

  .rating--box {
    width: 100%;
    max-width: 40em;
    height: auto;
    background: #fff;
    margin: 2.5em auto;
    padding: 1em;
    box-shadow: 0 0 5px black;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  .cover {
    width: 40%;
    height: auto;
  }
  .cover img {
    max-width: 100%;
    padding-right: 1rem;
  }

  .meta {
    width: 59%;
  }
  .meta p {
    line-height: 1.3;
    margin-bottom: 1.5em;
  }

  input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  input[type="radio"]:hover {
    cursor: pointer;
  }

  .rating--star {
    color: #ff7711;
  }
  .rating--star:before {
    content: "\2605";
    font-size: 2em;
    font-family: entypo, sans-serif;
  }
  .rating--star:checked ~ :before {
    content: "\2606";
  }
  .rating--star:focus {
    outline: 0;
  }

  .rating--star-2 {
    color: #cc0000;
  }
  .rating--star-2:before {
    content: "\2665";
    font-size: 2em;
    font-family: entypo, sans-serif;
  }
  .rating--star-2:checked ~ :before {
    content: "\2661";
  }
  .rating--star-2:focus {
    outline: 0;
  }

  .rating--star-3 {
    color: #cc0000;
  }
  .rating--star-3:before {
    content: "\1f3c6";
    font-size: 2em;
    font-family: entypo, sans-serif;
    color: #eda304;
  }
  .rating--star-3:checked ~ :before {
    content: "\1f3c6";
    color: #262626;
  }
  .rating--star-3:focus {
    outline: 0;
  }

  .rating--star-4 {
    color: #cc0000;
  }
  .rating--star-4:before {
    content: "\1f680";
    font-size: 2em;
    font-family: entypo, sans-serif;
    color: #eda304;
  }
  .rating--star-4:checked ~ :before {
    content: "\1f680";
    color: #262626;
  }
  .rating--star-4:focus {
    outline: 0;
  }

  .credits {
    width: 100%;
    max-width: 50em;
    margin: 1.5em auto 0 auto;
    background: white;
    padding: 1em 1.5em;
  }

  @media all and (max-width: 40em) {
    body {
      padding: 1.5em;
    }

    .cover {
      width: 100%;
      height: 15em;
      overflow: hidden;
      display: block;
    }
    .cover img {
      width: 100%;
    }

    .meta {
      width: 100%;
      max-width: 50em;
    }
    .meta p {
      line-height: 1.3;
      margin-bottom: 1.5em;
    }
  }
}
