
.my-footer {
  .mainfooter {
    color: white;
    padding: 20px;
    text-align: start;
  }
  .mangerfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #inputvaled {
    height: 25px;
  }
  .col_footer {
      background: linear-gradient(90deg, #ff7eb3, #8e2de2, #4a00e0);
  }
}


