.my-login-my-singup {
  font-family: "roboto", sans-serif;

  // .main-head {
  //   height: 150px;
  //   background: #fff;
  // }

  .sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
  }

  // @media screen and (max-height: 450px) {
  //   .sidenav {
  //     padding-top: 15px;
  //   }
  // }

  // @media screen and (max-width: 450px) {
  //   .login-form {
  //     margin-top: 10%;
  //   }

  //   .register-form {
  //     margin-top: 10%;
  //   }
  // }

  @media screen and (min-width: 768px) {
    .main {
      margin-left: 50%;
      background: #f5f5fa;
      height: 80vh;
    }

    .sidenav {
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
    }

    .login-form {
      margin-top: 20%;
    }

    .register-form {
      margin-top: 20%;
    }
  }

  .login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
  }

  .login-main-text h2 {
    font-weight: 300;
  }

  .btn-black {
    background-color: #000 !important;
  }
}
