.my-login-my-singup {
  font-family: "roboto", sans-serif;
  // .main-head {
  //   height: 150px;
  //   background: #fff;
  // }
  // display: flex;
  // justify-content: center;
  // align-items: center;

  overflow: hidden;
  .sidenav {
    height: 100%;
    background-image: url("https://c0.wallpaperflare.com/preview/622/696/882/beef-bread-buns-burger.jpg");
    background-size: cover;
    object-fit: cover;
  }

  // @media screen and (max-height: 450px) {
  //   .sidenav {
  //     padding-top: 15px;
  //   }
  // }

  // @media screen and (max-width: 450px) {
  //   .login-form {
  //     margin-top: 10%;
  //   }

  //   .register-form {
  //     margin-top: 10%;
  //   }
  // }

  @media screen and (min-width: 768px) {
    .main {
      margin-left: 50%;
      // background: #f5f5fa;
      background: transparent;
    }

    .sidenav {
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
    }

    .login-form {
      margin-top: 20%;
    }

    .register-form {
      margin-top: 20%;
    }
  }

  // .login-main-text {
  //   margin-top: 20%;
  //   padding: 60px;
  //   color: #ff4500;
  // }

  .login-main-text h2 {
    font-weight: 300;
  }

  .text-color {
    color: #795d9a !important;
  }
  .btn-color {
    background-color: #ff4500 !important;
  }
}
