* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  // text-transform: capitalize;
  transition: 0.2s linear;
}

// body {
//   // background: rgba(183, 183, 183, 0.2) !important;
//   background: #f5f5fa !important;
// }

// $green: #27ae60;
// $black: #130f40;
// $white: #fff;
// $light-color: #666;
// $light-bg: #f7f7f7;
// $border: 1px solid rgba(0, 0, 0, 0.2);
// $box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05);

// media queries

// @media (max-width: 991px) {
//     html {
//       font-size: 55%;
//     }

//     .header {
//       padding: 2rem;
//     }

//     section {
//       padding: 2rem;
//     }
//   }

//   @media (max-width: 768px) {
//     #menu-btn {
//       display: inline-block;
//     }

//     .header .navbar {
//       position: absolute;
//       top: 99%;
//       left: 0;
//       right: 0;
//       background: $white;
//       border-top: $border;
//       border-bottom: $border;
//       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

//       &.active {
//         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//       }

//       a {
//         font-size: 2rem;
//         margin: 2rem;
//         display: block;
//       }
//     }

//     .home .home-parallax-img {
//       top: 0;
//       right: 0;
//       width: 130%;
//     }

//     .order form .flex .inputBox {
//       width: 100%;
//     }
//   }

//   @media (max-width: 450px) {
//     html {
//       font-size: 40%;
//     }

//     .shopping-cart-container .cart-total {
//       .box {
//         text-align: center;

//         .btn {
//           width: 100%;
//         }
//       }
//     }

//     .home .content {
//       h3 {
//         font-size: 3rem;
//       }
//       p {
//         font-size: 1.5rem;
//       }
//     }
//   }
