@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --my-variable: #f00;
}

.dark {
  --my-variable: #348546;
}

.xyz {
  color: var(--my-variable);
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}
