.__area {
  font-family: "Cairo", sans-serif;
  color: #7c7671;
  margin-top: 100px;
}

.__card {
  max-width: 350px;
  margin: auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: unset;
}
.__card:hover {
  color: unset;
  text-decoration: none;
}
.__img {
  border-radius: 10px;
}

.__favorit {
  background-color: #fff;
  border-radius: 8px;
  color: #fc9d52;
  position: absolute;
  right: 15px;
  top: 8px;
  padding: 3px 4px;
  font-size: 22px;
  line-height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border: 0;
}
.__favorit:hover {
  background-color: #fc9d52;
  color: #fff;
  text-decoration: none;
}
.__card_detail {
  box-shadow: 0 4px 15px rgba(175, 77, 0, 0.13);
  padding: 13px;
  border-radius: 8px;
  margin: -30px 10px 0;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.__card_detail h4 {
  color: #474340;
  line-height: 100%;
  font-weight: bold;
}
.__card_detail p {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.__type span {
  background-color: #feefe3;
  padding: 5px 10px 7px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #fc9d52;
  font-weight: bold;
  line-height: 100%;
}
.__detail {
  margin-top: 5px;
}
.__detail i {
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
}
.__detail i:nth-child(3) {
  margin-left: 15px;
}
.__detail span {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
}

/*/////////////////////////////*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-top {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0;
  background: var(--phoenix-navbar-top-bg-color);
  min-height: var(--phoenix-navbar-top-height);
  color: var(--phoenix-nav-link-color);
  padding: 0 1.5rem;
  border-bottom: 1px solid var(--phoenix-navbar-vertical-border-color);
}

.search-box {
  position: relative;
  font-size: 0.8rem;
  width: 20rem;
}
.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-phoenix-secondary,
.google-map-control-btn .zoomIn,
.google-map-control-btn .zoomOut,
.tox .tox-dialog__footer .tox-button--secondary,
.tox .tox-button-secondary {
  --phoenix-btn-color: #31374a;
  --phoenix-btn-bg: #f5f7fa;
  --phoenix-btn-border-color: #e3e6ed;
  --phoenix-btn-hover-color: #222834;
  --phoenix-btn-hover-bg: #e3e6ed;
  --phoenix-btn-hover-border-color: #e6e9ef;
  --phoenix-btn-focus-shadow-rgb: 200, 204, 213;
  --phoenix-btn-active-color: #31374a;
  --phoenix-btn-active-bg: #e3e6ed;
  --phoenix-btn-active-border-color: #e6e9ef;
  --phoenix-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
  --phoenix-btn-disabled-color: #000000;
  --phoenix-btn-disabled-bg: #f5f7fa;
  --phoenix-btn-disabled-border-color: #e3e6ed;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.btn,
.google-map-control-btn .zoomIn,
.google-map-control-btn .zoomOut,
.tox .tox-dialog__footer .tox-button:last-child,
.tox .tox-dialog__footer .tox-button--secondary,
.tox .tox-button-secondary,
.tox .tox-button,
[data-list] .page,
.table-list .page {
  --phoenix-btn-padding-x: 1.5rem;
  --phoenix-btn-padding-y: 0.625rem;
  --phoenix-btn-font-family: ;
  --phoenix-btn-font-size: 0.8rem;
  --phoenix-btn-font-weight: 700;
  --phoenix-btn-line-height: 1.2;
  --phoenix-btn-color: var(--phoenix-body-color);
  --phoenix-btn-bg: transparent;
  --phoenix-btn-border-width: 1px;
  --phoenix-btn-border-color: transparent;
  --phoenix-btn-border-radius: 0.375rem;
  --phoenix-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0),
    0 1px 1px rgba(0, 0, 0, 0);
  --phoenix-btn-disabled-opacity: 0.3;
  --phoenix-btn-focus-box-shadow: 0 0 0 0
    rgba(var(--phoenix-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--phoenix-btn-padding-y) var(--phoenix-btn-padding-x);
  font-family: var(--phoenix-btn-font-family);
  font-size: var(--phoenix-btn-font-size);
  font-weight: var(--phoenix-btn-font-weight);
  line-height: var(--phoenix-btn-line-height);
  color: var(--phoenix-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: var(--phoenix-btn-border-width) solid var(--phoenix-btn-border-color);
  border-radius: var(--phoenix-btn-border-radius);
  background-color: var(--phoenix-btn-bg);
  -webkit-box-shadow: var(--phoenix-btn-box-shadow);
  box-shadow: var(--phoenix-btn-box-shadow);
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

:root,
:root.light,
:root .light {
  --phoenix-gray-soft: #f5f7fa;
  --phoenix-gray-100: #eff2f6;
  --phoenix-gray-200: #e3e6ed;
  --phoenix-gray-300: #cbd0dd;
  --phoenix-gray-400: #9fa6bc;
  --phoenix-gray-500: #8a94ad;
  --phoenix-gray-600: #6e7891;
  --phoenix-gray-700: #525b75;
  --phoenix-gray-800: #3e465b;
  --phoenix-gray-900: #31374a;
  --phoenix-gray-1000: #222834;
  --phoenix-gray-1100: #141824;
  --phoenix-gray-soft-rgb: 245, 247, 250;
  --phoenix-gray-100-rgb: 239, 242, 246;
  --phoenix-gray-200-rgb: 227, 230, 237;
  --phoenix-gray-300-rgb: 203, 208, 221;
  --phoenix-gray-400-rgb: 159, 166, 188;
  --phoenix-gray-500-rgb: 138, 148, 173;
  --phoenix-gray-600-rgb: 110, 120, 145;
  --phoenix-gray-700-rgb: 82, 91, 117;
  --phoenix-gray-800-rgb: 62, 70, 91;
  --phoenix-gray-900-rgb: 49, 55, 74;
  --phoenix-gray-1000-rgb: 34, 40, 52;
  --phoenix-gray-1100-rgb: 20, 24, 36;
  --phoenix-soft: #f5f7fa;
  --phoenix-100: #eff2f6;
  --phoenix-200: #e3e6ed;
  --phoenix-300: #cbd0dd;
  --phoenix-400: #9fa6bc;
  --phoenix-500: #8a94ad;
  --phoenix-600: #6e7891;
  --phoenix-700: #525b75;
  --phoenix-800: #3e465b;
  --phoenix-900: #31374a;
  --phoenix-1000: #222834;
  --phoenix-1100: #141824;
  --phoenix-facebook: #3c5a99;
  --phoenix-google-plus: #dd4b39;
  --phoenix-twitter: #1da1f2;
  --phoenix-linkedin: #0077b5;
  --phoenix-youtube: #ff0001;
  --phoenix-github: #333333;
  --phoenix-bootstrap: #6f45a9;
  --phoenix-css3: #203ccf;
  --phoenix-html5: #bf4b2c;
  --phoenix-sass: #c55589;
  --phoenix-gulp: #d54049;
  --phoenix-w3c: #255997;
  --phoenix-primary: #3874ff;
  --phoenix-secondary: #31374a;
  --phoenix-success: #25b003;
  --phoenix-info: #0097eb;
  --phoenix-warning: #e5780b;
  --phoenix-danger: #ed2000;
  --phoenix-light: #eff2f6;
  --phoenix-dark: #141824;
  --phoenix-primary-soft: #f5f8ff;
  --phoenix-primary-100: #e5edff;
  --phoenix-primary-200: #adc5ff;
  --phoenix-primary-300: #85a9ff;
  --phoenix-primary-500: #004dff;
  --phoenix-primary-600: #003cc7;
  --phoenix-warning-soft: #fff6e0;
  --phoenix-warning-100: #ffefca;
  --phoenix-warning-200: #ffe6ad;
  --phoenix-warning-300: #ffcc85;
  --phoenix-warning-500: #d6700a;
  --phoenix-warning-600: #bc3803;
  --phoenix-danger-300: #f48270;
  --phoenix-danger-100: #ffe0db;
  --phoenix-danger-200: #fabcb3;
  --phoenix-danger-500: #cc1b00;
  --phoenix-danger-600: #b81800;
  --phoenix-success-100: #d9fbd0;
  --phoenix-success-200: #bee8b4;
  --phoenix-success-300: #90d67f;
  --phoenix-success-500: #23890b;
  --phoenix-success-600: #1c6c09;
  --phoenix-info-100: #c7ebff;
  --phoenix-info-200: #96d9ff;
  --phoenix-info-300: #60c6ff;
  --phoenix-info-500: #0080c7;
  --phoenix-info-600: #005585;
  --phoenix-white: #fff;
  --phoenix-black: #000000;
  --phoenix-soft-rgb: 245, 247, 250;
  --phoenix-100-rgb: 239, 242, 246;
  --phoenix-200-rgb: 227, 230, 237;
  --phoenix-300-rgb: 203, 208, 221;
  --phoenix-400-rgb: 159, 166, 188;
  --phoenix-500-rgb: 138, 148, 173;
  --phoenix-600-rgb: 110, 120, 145;
  --phoenix-700-rgb: 82, 91, 117;
  --phoenix-800-rgb: 62, 70, 91;
  --phoenix-900-rgb: 49, 55, 74;
  --phoenix-1000-rgb: 34, 40, 52;
  --phoenix-1100-rgb: 20, 24, 36;
  --phoenix-facebook-rgb: 60, 90, 153;
  --phoenix-google-plus-rgb: 221, 75, 57;
  --phoenix-twitter-rgb: 29, 161, 242;
  --phoenix-linkedin-rgb: 0, 119, 181;
  --phoenix-youtube-rgb: 255, 0, 1;
  --phoenix-github-rgb: 51, 51, 51;
  --phoenix-bootstrap-rgb: 111, 69, 169;
  --phoenix-css3-rgb: 32, 60, 207;
  --phoenix-html5-rgb: 191, 75, 44;
  --phoenix-sass-rgb: 197, 85, 137;
  --phoenix-gulp-rgb: 213, 64, 73;
  --phoenix-w3c-rgb: 37, 89, 151;
  --phoenix-primary-rgb: 56, 116, 255;
  --phoenix-secondary-rgb: 49, 55, 74;
  --phoenix-success-rgb: 37, 176, 3;
  --phoenix-info-rgb: 0, 151, 235;
  --phoenix-warning-rgb: 229, 120, 11;
  --phoenix-danger-rgb: 237, 32, 0;
  --phoenix-light-rgb: 239, 242, 246;
  --phoenix-dark-rgb: 20, 24, 36;
  --phoenix-primary-soft-rgb: 245, 248, 255;
  --phoenix-primary-100-rgb: 229, 237, 255;
  --phoenix-primary-200-rgb: 173, 197, 255;
  --phoenix-primary-300-rgb: 133, 169, 255;
  --phoenix-primary-500-rgb: 0, 77, 255;
  --phoenix-primary-600-rgb: 0, 60, 199;
  --phoenix-warning-soft-rgb: 255, 246, 224;
  --phoenix-warning-100-rgb: 255, 239, 202;
  --phoenix-warning-200-rgb: 255, 230, 173;
  --phoenix-warning-300-rgb: 255, 204, 133;
  --phoenix-warning-500-rgb: 214, 112, 10;
  --phoenix-warning-600-rgb: 188, 56, 3;
  --phoenix-danger-300-rgb: 244, 130, 112;
  --phoenix-danger-100-rgb: 255, 224, 219;
  --phoenix-danger-200-rgb: 250, 188, 179;
  --phoenix-danger-500-rgb: 204, 27, 0;
  --phoenix-danger-600-rgb: 184, 24, 0;
  --phoenix-success-100-rgb: 217, 251, 208;
  --phoenix-success-200-rgb: 190, 232, 180;
  --phoenix-success-300-rgb: 144, 214, 127;
  --phoenix-success-500-rgb: 35, 137, 11;
  --phoenix-success-600-rgb: 28, 108, 9;
  --phoenix-info-100-rgb: 199, 235, 255;
  --phoenix-info-200-rgb: 150, 217, 255;
  --phoenix-info-300-rgb: 96, 198, 255;
  --phoenix-info-500-rgb: 0, 128, 199;
  --phoenix-info-600-rgb: 0, 85, 133;
  --phoenix-white-rgb: 255, 255, 255;
  --phoenix-black-rgb: 0, 0, 0;
  --phoenix-white: #fff;
  --phoenix-black: #000000;
  --phoenix-white-rgb: 255, 255, 255;
  --phoenix-black-rgb: 0, 0, 0;
  --phoenix-body-color-rgb: 49, 55, 74;
  --phoenix-body-bg-rgb: 245, 247, 250;
  --phoenix-font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --phoenix-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --phoenix-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --phoenix-scroll-margin-top: 2.5rem;
  --phoenix-body-font-family: Nunito Sans, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --phoenix-body-font-size: 1rem;
  --phoenix-body-font-weight: 400;
  --phoenix-body-line-height: 1.49;
  --phoenix-body-color: #31374a;
  --phoenix-body-bg: #f5f7fa;
  --phoenix-border-width: 1px;
  --phoenix-border-style: solid;
  --phoenix-border-color: var(--phoenix-gray-200);
  --phoenix-border-color-translucent: rgba(0, 0, 0, 0.175);
  --phoenix-border-radius: 0.375rem;
  --phoenix-border-radius-sm: 0.25rem;
  --phoenix-border-radius-lg: 0.5rem;
  --phoenix-border-radius-xl: 1rem;
  --phoenix-border-radius-2xl: 2rem;
  --phoenix-border-radius-pill: 50rem;
  --phoenix-heading-color: var(--phoenix-1100);
  --phoenix-code-color: #d63384;
  --phoenix-highlight-bg: #fff3cd;
  --phoenix-input-bg: #fff;
  --phoenix-input-color: var(--phoenix-gray-900);
  --phoenix-input-border-color: #cbd0dd;
  --phoenix-input-group-addon-bg: #eff2f6;
  --phoenix-scrollbar-bg: rgba(159, 166, 188, 0.55);
  --phoenix-navbar-top-height: 4rem;
  --phoenix-navbar-top-link-color: var(--phoenix-gray-900);
  --phoenix-navbar-top-menu-bg-color: #fff;
  --phoenix-navbar-top-border-color: #cbd0dd;
  --phoenix-navbar-top-link-hover-color: #222834;
  --phoenix-navbar-top-link-hover-bg: #eff2f6;
  --phoenix-navbar-top-link-active-color: var(--phoenix-primary);
  --phoenix-navbar-top-dropdown-color: var(--phoenix-gray-900);
  --phoenix-navbar-top-dropdown-hover-bg: #eff2f6;
  --phoenix-navbar-top-menu-margin: 1.5rem;
  --phoenix-dual-nav-border-color: #e3e6ed;
  --phoenix-dual-nav-first-layer-bg: #eff2f6;
  --phoenix-navbar-vertical-border-color: #cbd0dd;
  --phoenix-navbar-vertical-bg-color: #fff;
  --phoenix-navbar-vertical-label-color: #6e7891;
  --phoenix-navbar-vertical-link-color: #525b75;
  --phoenix-navbar-vertical-link-hover-color: #3e465b;
  --phoenix-navbar-vertical-link-hover-bg: #eff2f6;
  --phoenix-navbar-vertical-link-active-color: #3874ff;
  --phoenix-navbar-vertical-link-disable-color: #8a94ad;
  --phoenix-navbar-vertical-width: 15.875rem;
  --phoenix-navbar-vertical-link-icon-color: #3e465b;
  --phoenix-navbar-vertical-dropdown-indicator-color: #8a94ad;
  --phoenix-navbar-footer-border-color: #cbd0dd;
  --phoenix-navbar-footer-border-color: #cbd0dd;
  --phoenix-navbar-vertical-hr-color: #e3e6ed;
  --phoenix-navbar-vertical-collapsed-menu-bg: #fff;
  --phoenix-navbar-vertical-collapsed-menu-color: #222834;
  --phoenix-hamburger-menu-color: #6e7891;
  --phoenix-navbar-top-bg-color: #fff;
  --phoenix-btn-hover-border-color: transparent;
  --phoenix-btn-active-border-color: transparent;
  --phoenix-list-group-bg: #fff;
  --phoenix-list-group-action-hover-color: #525b75;
  --phoenix-list-group-hover-bg: #eff2f6;
  --phoenix-body-bg: #f5f7fa;
  --phoenix-body-color: #31374a;
  --phoenix-headings-color: #31374a;
  --phoenix-link-hover-color: #004dff;
  --phoenix-link-color: #3874ff;
  --phoenix-choices-inner-min-height: auto;
  --phoenix-choices-item-has-no-choices-bg: #fff;
  --phoenix-flatpickr-calendar-input-bg: var(--phoenix-input-bg);
  --phoenix-flatpickr-calendar-bg: #e3e6ed;
  --phoenix-flatpickr-current-month-color: #31374a;
  --phoenix-flatpickr-weekday-color: #31374a;
  --phoenix-flatpickr-calendar-day-hover-bg: rgba(203, 208, 221, 0.5);
  --phoenix-flatpickr-weekend-days-color: #d6700a;
  --phoenix-flatpickr-today-color: #fff;
  --phoenix-flatpickr-calendar-day-selected-bg: rgba(56, 116, 255, 0.2);
  --phoenix-calendar-bg: #e3e6ed;
  --phoenix-calendar-border-color: #f5f7fa;
  --phoenix-theme-wizard-nav-item-circle-bg: #eff2f6;
  --phoenix-theme-wizard-complete-color: #25b003;
  --phoenix-theme-wizard-active-color: #3874ff;
  --phoenix-border-opacity: 1;
  --phoenix-tinymce-bg: var(--phoenix-input-bg);
  --phoenix-tinymce-tox-tbtn-enabled-icon-color: var(--phoenix-gray-800);
  --phoenix-choices-item-bg: #e5edff;
  --phoenix-choices-item-color: #222834;
  --phoenix-docs-language-bg: #222834;
  --phoenix-form-select-indicator: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwIiBoZWlnaHQ9IjE1MCIgdmlld0JveD0iMCAwIDE1MCAxNTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik03NS4zNDggMTI3LjE5MkM3Mi40MzgxIDEyNy4xOTIgNjkuODUxNCAxMjYuMjIyIDY3LjkxMTUgMTI0LjI4Mkw1LjgzMjE1IDYyLjIwMjNDMS42Mjg4NyA1OC4zMjIzIDEuNjI4ODcgNTEuNTMyNCA1LjgzMjE1IDQ3LjY1MjVDOS43MTIxMSA0My40NDkyIDE2LjUwMiA0My40NDkyIDIwLjM4MiA0Ny42NTI1TDc1LjM0OCAxMDIuMjk1TDEyOS45OTEgNDcuNjUyNUMxMzMuODcxIDQzLjQ0OTIgMTQwLjY2MSA0My40NDkyIDE0NC41NDEgNDcuNjUyNUMxNDguNzQ0IDUxLjUzMjQgMTQ4Ljc0NCA1OC4zMjIzIDE0NC41NDEgNjIuMjAyM0w4Mi40NjEzIDEyNC4yODJDODAuNTIxMyAxMjYuMjIyIDc3LjkzNDcgMTI3LjE5MiA3NS4zNDggMTI3LjE5MloiIGZpbGw9IiMzMTM3NEEiLz4KPC9zdmc+Cg==);
  --phoenix-avatar-status-border-color: #fff;
  --phoenix-avatar-name-color: #004dff;
  --phoenix-colored-link-100-hover-color: #e3e6ed;
  --phoenix-logo-text: #6e7891;
  --phoenix-theme-control-toggle-bg: rgba(255, 204, 133, 0.24);
  --phoenix-theme-control-toggle-hover-bg: #e5780b;
  --phoenix-theme-control-toggle-color: #e5780b;
  --phoenix-theme-control-toggle-hover-color: #fff6e0;
  --phoenix-kanban-bg: #e3e6ed;
  --phoenix-kanban-column-bg: #f5f7fa;
  --phoenix-ghost-bg: var(--phoenix-gray-100);
  --phoenix-drag-bg: var(--phoenix-white);
  --phoenix-kanban-column-hover-bg: var(--phoenix-white);
}

:host,
:root {
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Solid";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Regular";
  --fa-font-light: normal 300 1em/1 "Font Awesome 6 Light";
  --fa-font-thin: normal 100 1em/1 "Font Awesome 6 Thin";
  --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}
.bg-200 {
  --phoenix-bg-opacity: 1;
  background-color: rgba(
    var(--phoenix-200-rgb),
    var(--phoenix-bg-opacity)
  ) !important;
}
hr {
  margin: 1rem 0;
  color: var(--phoenix-gray-200);
  border: 0;
  border-top: 1px solid;
  opacity: 1;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.divider-content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--phoenix-body-bg);
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  color: var(--phoenix-gray-600);
  white-space: nowrap;
  font-weight: 700;
}
.btn-phoenix-secondary,
.google-map-control-btn .zoomIn,
.google-map-control-btn .zoomOut,
.tox .tox-dialog__footer .tox-button--secondary,
.tox .tox-button-secondary {
  --phoenix-btn-color: #31374a;
  --phoenix-btn-bg: #f5f7fa;
  --phoenix-btn-border-color: #e3e6ed;
  --phoenix-btn-hover-color: #222834;
  --phoenix-btn-hover-bg: #e3e6ed;
  --phoenix-btn-hover-border-color: #e6e9ef;
  --phoenix-btn-focus-shadow-rgb: 200, 204, 213;
  --phoenix-btn-active-color: #31374a;
  --phoenix-btn-active-bg: #e3e6ed;
  --phoenix-btn-active-border-color: #e6e9ef;
  --phoenix-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
  --phoenix-btn-disabled-color: #000000;
  --phoenix-btn-disabled-bg: #f5f7fa;
  --phoenix-btn-disabled-border-color: #e3e6ed;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.49;
  color: var(--phoenix-gray-900);
  background-color: var(--phoenix-input-bg);
  background-clip: padding-box;
  border: 1px solid var(--phoenix-input-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
